/*Configurando fontes*/
.title {	
	margin-top: 80px;
	color: gray;
}

.title-cadastro {
	margin-bottom: 50px;
}

/* Configurando inputs */
.form-control {
	height: 50px;
	margin-top: 10px;
}

/* Configurando o botão de login */
.buttoncamp {
	display: compact;
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	
}
.jumbotron {
	width: 50%;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
.table {
	margin-top: 10px;
	text-nalig: center;
}